{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
    <h1> Apartado de Estudiantes </h1>
{% endblock %}

{% block contenido_que_cambia %}
    
    <h1>Registrar estudiante</h1>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }} <!-- Tipos de form: form.as_ / form.as_ul / form -->
        </table>
        <input type="submit" value="Agregar">
    </form>

    <table>
        <thead>
            <h1>Lista de estudiantes</h1>
            <tr>
                <th> ID </th>
                <th> Nombre </th>
                <th> Apellido </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            
            {% for estudiante in estudiantes %}
            <tr>
                <td>
                    {{ estudiante.id }}
                </td>
                <td>
                    {{ estudiante.nombre}}
                </td>
                <td>
                    {{ estudiante.apellido }}
                </td>
                <td>
                    {{ estudiante.email }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
